# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
.env.*
*.env
*.sqlite3

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfstate.d/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Docker
**/docker-compose*.yml
**/Dockerfile*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# IDEs
.idea/

# logs
*.log
text.txt
