<!DOCTYPE html>
<html>
<head>
	<title>Add Emp Output</title>
	<style>
		body {
			{% if bg_image %}
			background-image: url('{{ bg_image }}');
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			{% else %}
			background-color: {{ color }};
			{% endif %}
		}
	</style>
</head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body>
		<h1>The employee {{ name }} was successfully added to the database</h1><br>
			<h2>The Employee has been added to the database</h2><br>
			<h2>{{ name }}</h2><br>
			<a href="{{ url_for('home') }}">Back</a>
		</body>
	</font>
</center>
</html>
